<div class="cuerpo">
    <div class="container contenido">
        
            <p class="tituloContainer"><i class="fas fa-paw"></i>CONSULTA DE ABONOS</p><br>
            
            
         
            
            
        
        <hr>
        <table class="table table-striped" *ngIf='abono && abonos.length'>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">idCredito</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Valor Abono</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let abono of abonos ; index as i "
                    (click)="seleccionar(persona)">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ abono.idCredito}} </td>
                    <td>{{ abono.fecha}}</td>
                    
                    <td>{{ abono.valorAbono }}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
