<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="modal-header">
          <h2>Registro de Personas</h2>
        </div>
        <div class="modal-body">
        <form [formGroup]="formGroup">
          <div class="form-group">
            <label>Identificacion</label>
            <input type="text" name="identificacion" formControlName="identificacion" class="form-control"
              [ngClass]="{ 'is-invalid':  control.identificacion.errors}" />
            <div *ngIf="control.identificacion.errors" class="invalid-feedback">
              <div *ngIf="control.identificacion.errors.required">Se requiere la identificacion </div>
              <div *ngIf="control.identificacion.errors.pattern">solo se aceptan numeros </div>
              <div *ngIf="control.identificacion.errors.minlength">Debe tener minimo 7 caracteres </div>
              <div *ngIf="control.identificacion.errors.maxLength">Debe tener maximo 13 caracteres </div>
            </div>
          </div>


          <div class="form-group">
            <label>Nombre</label>
            <input type="text" name="nombre" formControlName="nombre" class="form-control"
              [ngClass]="{ 'is-invalid':  control.nombre.errors}" />
            <div *ngIf="control.nombre.errors" class="invalid-feedback">
              <div *ngIf="control.nombre.errors.required">Se requiere el nombre </div>
              <div *ngIf="control.nombre.errors.minlength">Debe tener minimo 4 caracteres</div>
            </div>
          </div>



          <div class="form-group">
            <label>Cantidad Empleados</label>
            <input type="number" name="cantidadEmp" formControlName="cantidadEmp" class="form-control"
              [ngClass]="{ 'is-invalid':  control.cantidadEmp.errors}" />
            <div *ngIf="control.cantidadEmp.errors" class="invalid-feedback">
              <div *ngIf="control.cantidadEmp.errors.required">Se requiere el campo cantidad </div>

            </div>
          </div>
          <div class="form-group">
            <label>Valor Activo</label>
            <input type="number" name="valorActivo" formControlName="valorActivo" class="form-control"
              [ngClass]="{ 'is-invalid':  control.valorActivo.errors}" />
            <div *ngIf="control.valorActivo.errors" class="invalid-feedback">
              <div *ngIf="control.valorActivo.errors.required">Se requiere el campo ValorActivo</div>

            </div>
          </div>

          <div class="form-group">
            <label>Valor Credito</label>
            <input type="number" name="valorCredito" formControlName="valorCredito" class="form-control"
              [ngClass]="{ 'is-invalid':  control.valorCredito.errors}" />
            <div *ngIf="control.valorCredito.errors" class="invalid-feedback">
              <div *ngIf="control.valorCredito.errors.required">Se requiere el campo Valor Del Credito</div>

            </div>
          </div>



          <div class="text-center">
            <button class="btn btn-primary mr-1" (click)="onSubmit()" [disabled]="formGroup.invalid">Registrar</button>
            <button class="btn btn-secondary" type="reset">Cancel</button>
          </div>

        </form>
      </div>



      </div>
    </div>
  </div>



</body>